/* global config */

:root {
  --orange0: #fdf1eb;
  --orange1: #ffb354;
  --orange2: #ee7a3a;
  --orange3: #ed7839;
}

body {
  font-family: "Roboto", sans-serif;
}

span,
button {
  user-select: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  width: calc(100% - 220px);
}

/* side menu */
.sidemenu {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 220px;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 0 4px 1px rgba(0, 0, 0, 0.1);
}

.sidemenu-logo-text {
  width: 100%;
  height: 68px;

  background: linear-gradient(180deg, var(--orange1) 0%, var(--orange2) 100%);
}

.sidemenu-logo-text a {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-decoration: none;

  color: white;
}

.sidemenu-navigation {
  width: 100%;
}

.sidemenu-navigation li {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 35px;

  border-bottom: 2px solid rgb(0, 0, 0, 0.1);
}

.sidemenu-navigation a {
  margin-left: 24px;
  text-decoration: none;
  color: #725c5c;
  cursor: pointer;

  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
}

.sidemenu-active {
  position: relative;
  background-color: var(--orange0);
}

.sidemenu-active a {
  margin-left: 29px;
}

#sidemenu-active-mark {
  position: absolute;
  left: 0;
  background: linear-gradient(180deg, #ffb455 0%, #ed7839 100%);
  height: 100%;
  width: 5px;
}

.sidemenu-mobileDisplay {
  display: none;
  align-items: center;
  width: 100%;

  padding: 10px;
}

.sidemenu-mobileDisplay-account img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.sidemenu-mobileDisplay-texts h3 {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.sidemenu-mobileDisplay-texts p {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-height: 68px;
  background-color: var(--orange0);

  color: #725c5c;
}

.header-texts {
  margin-left: 36px;
}

.header-texts h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.header-texts h1 {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.header-texts h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.header-input {
  position: relative;
  margin: 0 30px;
}

.header-input img {
  position: absolute;
  left: 2px;
  top: 6px;

  width: 22px;
}

.header-input select {
  width: 97px;
  height: 34px;
  background-color: var(--orange0);

  padding-left: 25px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  outline: none;

  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  cursor: pointer;
}

.header-profile {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.header-profile-texts {
  margin-right: 7px;
  text-align: right;
  color: #333;
}

.header-profile-texts h3 {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.header-profile-texts p {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.header-profile-account {
  position: relative;
}

.header-profile-account span {
  position: absolute;
  top: 0;
  right: 0;

  color: white;
  background-color: #f85959;

  width: 12px;
  height: 12px;
  border-radius: 50%;

  text-align: center;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
}

.header-profile-account img {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  cursor: pointer;
}

#header-mobileMenuBars {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 40px;
  flex-grow: 0;
  flex-shrink: 0;

  width: 40px;
  margin-right: 36px;
  height: 35px;

  cursor: pointer;
}

#header-mobileMenuBars span {
  width: 80%;
  border-bottom: 3px solid #595959;
  margin: 3px 0;
}

/* main video */
.main {
  display: flex;
  justify-content: space-between;
  padding: 20px 45px 30px 43px;
}

.main-content {
  max-width: 783px;
}

.main-content h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.05em;

  margin-bottom: 19px;
  color: var(--orange3);
}

.main-content img {
  width: 783px;
  height: 439px;

  cursor: pointer;
}

.main-info {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  margin-left: 31px;
  width: 242px;
  height: 439px;
}

.main-info .refer {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-decoration: none;

  color: var(--orange3);
}

.main-actions {
  display: flex;
  align-items: center;

  margin-bottom: 8px;
}

.main-actions .download-btn {
  width: 120px;
  height: 31px;
  padding: 6px 0;

  color: white;

  background: var(--orange3);
  border-radius: 4px;
  border: none;
  outline: none;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  cursor: pointer;
}

.main-actions .favorites-btn {
  width: 43px;
  height: 31px;
  padding: 6px 0;
  margin: 0 5px;

  color: white;

  background-color: var(--orange3);
  border-radius: 4px;
  border: none;
  outline: none;

  font-weight: 900;
  font-size: 16px;

  cursor: pointer;
}

.main-actions .doi-btn {
  width: 43px;
  height: 31px;
  padding: 6px 0;

  color: white;

  background-color: var(--orange3);
  border-radius: 4px;
  border: none;
  outline: none;

  font-weight: 900;
  font-size: 16px;

  cursor: pointer;
}

.main-details {
  border: 1px solid #ececec;
  border-radius: 3px;

  margin-top: 5px;
}

.main-details-title {
  width: 242px;
  height: 45px;
  padding: 11px 15px 9px;

  background-color: var(--orange0);
  border-bottom: 1px solid #ececec;
}

.main-details-title h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.main-details-about {
  height: 394px;
  padding: 15px;
  overflow-y: scroll;
}

.main-details-about::-webkit-scrollbar {
  width: 3px;
}

.main-details-about::-webkit-scrollbar-track {
  background: #e7e7e7;
}

.main-details-about::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 5px;
}

.main-details-theme {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.02em;

  color: #5c5c5c;
  margin-bottom: 26px;
}

.main-details-theme p {
  margin-bottom: 5px;
}

.main-details-theme strong {
  font-weight: bold;
  color: black;
}

.main-details-author {
  margin-bottom: 30px;
}

.main-details-author h1 {
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 16px;
  line-height: 16.8px;
  letter-spacing: 0.02em;
  color: black;

  margin-bottom: 10px;
}

.main-details-author p {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 16px;
  line-height: 16.8px;
  letter-spacing: 0.02em;

  margin-top: 6px;
  color: #333;
}

.main-details-local {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 13px;
  line-height: 16.8px;
  letter-spacing: 0.02em;

  color: #5c5c5c;
}

.main-mobileDescription {
  display: none;
  color: #725c5c;
  margin-top: 20px;
  margin-bottom: 40px;
}

.main-mobileDescription h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.main-mobileDescription h1 {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.main-mobileDescription h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

/* secao resumo */

.resume-wrapper {
  padding: 0 30px 25px 42px;
}

.resume {
  width: 100%;
  min-height: 189px;

  border: 1px solid #ececec;
  border-radius: 3px;
}

.resume-title {
  width: inherit;
  height: 45px;
  padding: 10px 16px;

  background-color: var(--orange0);
  color: #4e4e4e;

  border-bottom: 1px solid #ececec;

  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.resume-text {
  overflow: hidden;
  min-height: 114px;
  padding: 15px;
}

.resume-text p {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.02em;

  color: #5c5c5c;
}

#resume-text-showMore {
  font-weight: 700;
  cursor: pointer;
  color: var(--orange3);
}

#resume-text-clipped {
  display: none;
}

#resume-text-clipped p {
  margin-top: 40px;
}

/* sessao discussao */
.discussions-wrapper {
  padding: 0 30px 50px 42px;
}

.discussions {
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 3px;
}

.discussions-title {
  padding: 10px 16px;
  height: 45px;

  background-color: var(--orange0);
  border-bottom: 1px solid #ececec;
}

.discussions-title h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  color: #4e4e4e;
}

#discussions-addTopic {
  display: flex;
}

.discussions-content {
  position: relative;
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.discussions-content h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  color: var(--orange3);
}

.disscussions-content-vectors {
  margin-top: 27px;
}

.disscussions-content-vectors img:nth-child(2) {
  margin: 0 52px;
}

.discussions-content p {
  width: 70%;
  margin-top: 35px;

  font-family: "Quicksand";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #595959;
}

#discussions-line {
  margin-top: 31px;

  width: 98%;
  border-bottom: 1px solid #e7e7e7;
}

.discussions-content button {
  position: absolute;
  top: calc(100% - 32px);

  width: 133px;
  height: 32px;
  padding: 0 12px 0 0;

  border: none;
  outline: none;
  background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;

  font-family: "Quicksand";
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  text-align: right;

  color: #ffffff;
  cursor: pointer;
}

.discussions-content button img {
  position: absolute;
  left: 13px;
}

#discussions-writeTopic {
  display: none;
}

.discussions-writeTopic {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 17px;
}

.discussions-writeTopic p {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  margin-bottom: 22px;

  color: #5c5c5c;
}

.discussions-writeTopic form {
  position: relative;
  width: 100%;
}

.discussions-writeTopic form label {
  display: block;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: var(--orange3);
}

.discussions-writeTopic form #assunto {
  width: 100%;
  height: 39px;
  padding: 10px 23px;
  margin-bottom: 10px;
  margin-top: 1px;

  border: 1px solid #cccccc;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;

  font-family: "Quicksand";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #4d4d4d;
}

.discussions-writeTopic form #conteudo {
  width: 100%;
  height: 82px;
  margin-top: 4px;
  padding: 10px 23px;

  border: 1px solid #cccccc;
  border-bottom: none;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
  resize: none;

  font-family: "Quicksand";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #4d4d4d;
}

.discussions-form-actions-wrapper {
  position: absolute;
  top: 173px;
  width: 100%;

  display: flex;
  align-items: center;
}

.discussions-form-actions {
  width: 100%;
  height: 31px;
  padding: 6px 29px;

  background: #eaf1f2;
  border: 1px solid #cccccc;
  border-radius: 0px 0px 4px 4px;
}

.discussions-form-actions img {
  cursor: pointer;
}

.discussions-form-actions img:nth-child(2) {
  margin-left: 30px;
}

#discussions-form-actions-submit {
  width: 205.1px;
  height: 31px;
  cursor: pointer;

  border: none;
  background: linear-gradient(180deg, #feb154 0%, #f1833e 100%);
  border-radius: 0px 0px 4px 0px;

  font-family: "Quicksand";
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;

  text-align: center;
  color: #ffffff;
}

#discussions-topicSent {
  display: none;
}

.discussions-topicSent {
  position: relative;
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.discussions-topicSent h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  color: var(--orange3);
}

.discussions-topicSent p {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-top: 18px;

  color: #595959;
}

.discussions-topicSent a {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 14px;
  line-height: 137.5%;
  margin-top: 39px;

  text-align: center;
  text-decoration-line: underline;

  color: #f48f44;
}

.discussions-topicSent button {
  position: absolute;
  top: calc(100% - 208px);

  width: 235.15px;
  height: 32px;

  border: none;
  outline: none;
  background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;

  font-family: "Quicksand";
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;

  text-align: center;
  cursor: pointer;

  color: #fff;
}

#discussions-line-topicSent {
  width: 98%;
  margin-top: 65px;
  border-bottom: 1px solid #e7e7e7;
}

.discussions-currentSendedTopic {
  position: relative;

  width: 100%;
  height: 148px;
  padding: 18px 26px;
  margin-top: 28px;

  border: 1px solid #e7e7e7;
  border-radius: 4px;

  font-family: "Quicksand";
}

.discussions-currentSendedTopic h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: var(--orange3);
}

.discussions-currentSendedTopic h2 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-top: 3px;

  color: #5c5c5c;
}

.discussions-currentSendedTopic p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;

  color: #4d4d4d;
}

.discussions-currentSendedTopic-blurOverlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(221, 221, 221, 0.5);
  backdrop-filter: blur(3px);
}

.discussions-currentSendedTopic-blurOverlay h3 {
  margin-top: 7px;
}

.discussions-currentSendedTopic-blurOverlay a {
  margin-top: 8px;
}

.discussions-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;

  margin-top: 30px;
  font-family: "Quicksand";
}

.dicussions-card {
  width: 100%;
  min-height: 148px;
  margin-bottom: 17px;

  border: 1px solid #e7e7e7;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.discussions-card-content {
  padding: 17px 24px;
}

.discussions-card-content h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: var(--orange3);
}

.discussions-card-content h2 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin-top: 4px;

  color: #5c5c5c;
}

.discussions-card-content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;

  color: #4d4d4d;
}

.discussions-card-actions {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.discussions-card-actions img {
  margin-right: 15px;
  cursor: pointer;
}

.discussions-card-likes-btn {
  margin-right: 15px;
}

.discussions-card-actions span {
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;

  color: #757575;
}

.discussions-card-answers {
  display: none;
}

.discussions-card-answer {
  padding: 18px 23px;
  position: relative;

  background: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

.discussions-card-answer h1 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #5c5c5c;
}

.discussions-card-answer p {
  margin-top: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #4d4d4d;
}

.discussions-card-answer-icon {
  position: absolute;
  right: 23px;
  top: 8px;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  color: var(--orange3);
}

.discussions-card-answer-icon img {
  margin-left: 10px;
}

/* footer */

#footer {
  position: relative;
  width: 96%;
  height: 181px;
  margin: auto;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
}

#footer button {
  width: 207px;
  height: 32px;
  margin-left: 3px;

  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #71478e;

  font-family: "Quicksand";
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;

  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

.footer-content {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-right: 25px;

  color: #4d4d4d;
}

.footer-content h1 strong {
  color: black;
  font-weight: bold;
}

.footer-content p {
  margin-top: 10px;
}

#footer-line {
  position: absolute;
  top: 0;

  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}

/* responsivo */
@media screen and (max-width: 1335px) {
  .main {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    padding: 0 30px 25px 42px;
  }

  .main-content {
    margin-top: 10px;
  }

  .main-content img {
    margin-bottom: 20px;
  }

  .main-info .refer {
    margin-bottom: 20px;
  }

  .main-info {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 0;
    width: 783px;
    height: auto;
  }

  .main-details {
    width: 100%;
  }

  .main-details-title {
    width: 100%;
  }

  .main-details-about {
    overflow-y: auto;
    height: 300px;
  }
}

@media screen and (max-width: 1025px) {
  .sidemenu {
    display: none;
    z-index: 10;
    background-color: #fff;
  }

  .sidemenu-mobileDisplay {
    display: flex;
  }

  #header-mobileMenuBars {
    display: flex;
  }

  .header-profile {
    display: none;
  }

  #content {
    width: 100%;
  }

  .footer-content {
    padding: 0 25px;
  }
}

@media screen and (max-width: 820px) {
  .main-content img {
    width: 98%;
    height: 400px;
  }

  .main-info {
    width: 98%;
  }

  #footer {
    min-height: 181px;
  }
}

@media screen and (max-width: 680px) {
  .header-texts {
    display: none;
  }

  .main-content img {
    height: 300px;
  }

  .discussions-topicSent button {
    position: relative;
    margin-top: 30px;
  }

  .discussions-currentSendedTopic {
    height: auto;
  }

  .discussions-writeTopic p {
    text-align: left;
  }
  .main-mobileDescription {
    display: block;
  }

  #discussions-line-topicSent {
    margin-top: 30px;
  }

  #footer {
    flex-direction: column;
  }

  .footer-img {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;
  }
}

@media screen and (max-width: 400px) {
  .main-content img {
    width: 300px;
    height: 200px;
  }

  .disscussions-content-vectors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .disscussions-content-vectors img:nth-child(2) {
    margin: 40px 0;
  }

  .discussions-content p {
    width: 100%;
    text-align: left;
  }

  .discussions-currentSendedTopic-blurOverlay {
    text-align: center;
  }

  .discussions-card-answer p {
    margin-top: 50px;
  }

  .discussions-card-answer-icon {
    left: 23px;
    top: 44px;
  }

  .discussions-form-actions img:nth-child(2) {
    margin-left: 14px;
  }
}
